@import "./default.less";
@import "./loading.less"; 

.container {
  display: flex;
  .nav-left {
    background-color: #001529;
    width: 15%;
    min-width: 180px; //防止缩放屏幕的最小宽度
    height: calc(
      100vh
    ); //计算方法，计算左侧的导航的高度，1vh相当于1% , 100vh相当于100%
    color: white;
  }
  .main {
    height: calc(100vh);
    flex: 1;
    background-color: @colorL;
    overflow: auto; //给右侧的内容区添加滚动，左侧不动，当右侧的内容区的高度超过视图高度时，自动进行滚动
  }
  .content {
    position: relative;
    padding: 20px;
  }
}

.content-wrap {
   background: white;
   border: 1px solid #e8e8e8;
   margin-top: -3px;
   .ant-table-wrapper {
     margin-left: -1px;
     margin-right: -1px;
   }
}
