.logo {
  line-height: 90px; //行高
  padding-left: 20px;
  background-color: #001529;
  img {
    height: 35px;
  }
  h1 {
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle; //居中
    margin: 0 0 0 10px; //上 右 下 左
  }
}
